header {
padding: 15px 0
}
#logo {
    font-size: 20px;
    font-weight: 700;

}
#nav {
    display: inline-block;
    margin-left:50px
}
#nav a {
    text-decoration: none;
    font-weight: 500;
    color:rgba(20,20,20,1);
    padding: 2px 10px

    /* rgb(20,20,20)  */
}
#nav a:hover {
    text-decoration: underline;
    color:rgba(20,20,20,0.9);

    /* rgb(20,20,20)  */
}
/* ----- Intro ----- */
#intro {
    background-color:rgb(254,243,223) ;
    padding:  30px 0 0 0 ;
}
.intro-left ,.intro-right {
    display: inline-block;
    width:49%; vertical-align: top;
    padding-top: 50px;
    
}
.intro-right {
    text-align: center;
}

.intro-right  img { 
    position: relative;
    top:60px; 
    width: 70%;
    max-width: 400px;
}
.intro-left p {
 color: #555;    max-width: 300px;
 padding: 35px 0;

}

.intro-left h1 {
    margin: 0;
    font-size: 30px;
    max-width: 300px;
}
/* ---------Experiences -------  */
#experiences {
    text-align: center;
    padding-top: 50px;
}
#experiences img {
    width: 120px;
    margin: 5px;
}
#experiences span {
    width: 120px;
    height: 5px;
    background: rgb(215,196,158); content: "";
    display: inline-block;
    margin-bottom: 15px;
}
.experiences-slogan {
    margin-bottom: 20px;
}

/* _________________________ */
#bio {
    background:rgb(230,235,228) ;
    padding:50px 0 ;
}
#bio .container > div {
    display: inline-block;
    width:49%; vertical-align: top;
}
#bio img {
    width:320px; 
    margin-top: 60px;
    box-shadow: -4px -8px 20px -17px rgba(0,0,0,0.75);
}
#bio div:nth-child(2){
    text-align: justify;
}
#bio h4 {
    font-size: 30px;
}
/* ____________________________ */
#services {
    padding: 50px 0;
} 
.service-card {
    display: inline-block;
    width: 220px;
    padding:20px;
    background: rgb(224,241,241);
    margin: 4px;
    border-radius: 8px;
}
.service-card i {
    font-size: 50px; color:rgb(230,235,228) 

}
/*  */
.service-card:first-child {
    background-color: rgb(230,235,228);
}
.service-card:first-child  i {
  color:#60d9cc
}
.service-card:last-child {
    background-color:rgb(254,243,223) ;
}
/* @media only screen and (max-width:500px){
    #services {
        background-color: red;
    } 
} */
.social-media {
    position: fixed;
    top: 60px;right: 0;
}
/* _________________________________________ */
#get-inTouch {
    background-color:rgb(224,241,241) ;
    padding:  50px 0 ;
}
.get-inTouch-left ,.get-inTouch-right {
    display: inline-block;
    width:49%; vertical-align: top;
    
}
.get-inTouch-right {
    text-align: center;
}

.get-inTouch-right  img { 
    position: relative !important;
    top:80px
}
.get-inTouch-left p {
 color: #555
}
.get-inTouch-right img {
width:250px !important; 
height: 300px;
}
.get-inTouch-left h1 {
    margin: 0;
    font-size: 25px;
}
#get-inTouch i {
    color:gray
}
/* ____________________________ */
#testimonials {
    padding: 50px 0;
    text-align: center;
}
.testimonials-card {
display: inline-block; width: 250px;
border: 1px solid #eee;
padding: 15px;

}
.testimonials-card p {
    font-size: 13px ;
}
.testimonials-card > i {
    color: #aaa;
}
img { border-radius: 20px;}
.testimonials-card img {
    width: 60px  !important;height: 60px;
    border: 2px solid #fff;
    box-shadow: -4px -8px 20px -17px rgba(0,0,0,0.75);
    border-radius: 50%;


}
.testimonials-card a {
    
}